    /*
    Flaticon icon font: Flaticon
    Creation date: 03/12/2019 08:31
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-arrow:before { content: "\f100"; }
.flaticon-arrow-1:before { content: "\f101"; }
.flaticon-quote:before { content: "\f102"; }
.flaticon-like:before { content: "\f103"; }
.flaticon-clock:before { content: "\f104"; }
.flaticon-send:before { content: "\f105"; }
.flaticon-link:before { content: "\f106"; }
.flaticon-right-arrow:before { content: "\f107"; }
.flaticon-left-arrow:before { content: "\f108"; }
.flaticon-dslr-camera:before { content: "\f109"; }
.flaticon-share:before { content: "\f10a"; }
.flaticon-heart:before { content: "\f10b"; }
.flaticon-heart-1:before { content: "\f10c"; }
.flaticon-tags:before { content: "\f10d"; }
.flaticon-reply-black-left-arrow-interface-symbol:before { content: "\f10e"; }
.flaticon-placeholder-for-map:before { content: "\f10f"; }
.flaticon-home-page:before { content: "\f110"; }
.flaticon-internet:before { content: "\f111"; }
.flaticon-envelope:before { content: "\f112"; }
.flaticon-draw-check-mark:before { content: "\f113"; }
.flaticon-check-mark-black-outline:before { content: "\f114"; }
.flaticon-flash:before { content: "\f115"; }
    
    $font-Flaticon-arrow: "\f100";
    $font-Flaticon-arrow-1: "\f101";
    $font-Flaticon-quote: "\f102";
    $font-Flaticon-like: "\f103";
    $font-Flaticon-clock: "\f104";
    $font-Flaticon-send: "\f105";
    $font-Flaticon-link: "\f106";
    $font-Flaticon-right-arrow: "\f107";
    $font-Flaticon-left-arrow: "\f108";
    $font-Flaticon-dslr-camera: "\f109";
    $font-Flaticon-share: "\f10a";
    $font-Flaticon-heart: "\f10b";
    $font-Flaticon-heart-1: "\f10c";
    $font-Flaticon-tags: "\f10d";
    $font-Flaticon-reply-black-left-arrow-interface-symbol: "\f10e";
    $font-Flaticon-placeholder-for-map: "\f10f";
    $font-Flaticon-home-page: "\f110";
    $font-Flaticon-internet: "\f111";
    $font-Flaticon-envelope: "\f112";
    $font-Flaticon-draw-check-mark: "\f113";
    $font-Flaticon-check-mark-black-outline: "\f114";
    $font-Flaticon-flash: "\f115";