	/*
  	Flaticon icon font: Flaticon
  	Creation date: 03/12/2019 08:31
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-arrow:before { content: "\f100"; }
.flaticon-arrow-1:before { content: "\f101"; }
.flaticon-quote:before { content: "\f102"; }
.flaticon-like:before { content: "\f103"; }
.flaticon-clock:before { content: "\f104"; }
.flaticon-send:before { content: "\f105"; }
.flaticon-link:before { content: "\f106"; }
.flaticon-right-arrow:before { content: "\f107"; }
.flaticon-left-arrow:before { content: "\f108"; }
.flaticon-dslr-camera:before { content: "\f109"; }
.flaticon-share:before { content: "\f10a"; }
.flaticon-heart:before { content: "\f10b"; }
.flaticon-heart-1:before { content: "\f10c"; }
.flaticon-tags:before { content: "\f10d"; }
.flaticon-reply-black-left-arrow-interface-symbol:before { content: "\f10e"; }
.flaticon-placeholder-for-map:before { content: "\f10f"; }
.flaticon-home-page:before { content: "\f110"; }
.flaticon-internet:before { content: "\f111"; }
.flaticon-envelope:before { content: "\f112"; }
.flaticon-draw-check-mark:before { content: "\f113"; }
.flaticon-check-mark-black-outline:before { content: "\f114"; }
.flaticon-flash:before { content: "\f115"; }