 
/*============ Template Introduction=====================
Template Name:
Version: 1.0
Author:Andit Theme/Hadayet
Template URI: http:
License URI: https:
Tags:
================================================================*/
/*    Table of contents
================================================================
01. Typography
======================================================================================================*/


/*--------------------------
		 1.  Typography
---------------------------*/

/*--------------------------
 		font:Raleway
 * --------------------------*/
@import url('https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,500i,600,600i,700,700i,800,800i,900&display=swap');
@import url('color.css');
h1,h2,h3,h4,h5,h6{
	font-family: 'Raleway', sans-serif;
	margin: 0;
}
  h1 {

  	font-size: 45px;
  	

  }

  h2 {
  	font-size: 36px;
	     
  }

  h3 {
	  
	 font-size: 22px;
	  color: #424242;

  }

  h4 {
	  font-size: 24px;
	  color: #424242;
  }

  h5 {
     font-size: 18px;
	  color: #424242;
  }
  h6 {
  	font-size: 20px;
  }
  p {
  	font-family: 'Raleway', sans-serif;
  	margin: 0;
  	padding: 0;
  	font-size: 14px;
	line-height: 24px;
	letter-spacing: 1px;
	  color: var(--all-p-color);
	  font-weight: 400;
  }
.margin-top-5{
	margin-top:5px;
}
.margin-top-10{
	margin-top: 10px;
}
.margin-top-20{
	margin-top: 20px;
}
.margin-top-30{
	margin-top: 30px;
}
.margin-top-40{
	margin-top: 40px;
}
.margin-botttom-10{
	margin-bottom: 10px;
}
.margin-top-60{
	margin-top: 60px;
}
.form-control:focus:focus{
	outline: none;
	 box-shadow:none !important;
  border:1px solid #422918;
}
/*---------------------------
     Button Css
--------------------------*/
.btn:focus{
	outline: none;
	box-shadow: none;
}
.buton-lg{
	    background:var(--theme-color);
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    width: 100%;
    height: 45px;
    line-height: 32px;
	border-radius: 0;
	transition: .4s all;
}
.buton-lg:hover{
	background:#424242;
	color: #fff;
	
}
.subscribe-btn{
	font-size: 16px;
	margin-top: 10px;
}
button:focus{
	outline: none;
}
.btn-theme{
	 background: var(--theme-color);
    padding: 6px 40px;
    border-radius: 0;
    color: #fff;
    font-weight: 600;
    font-size: 14px;
    margin-top: 20px;
	color: #fff;
	transition: .4s all;
}
.btn-theme:hover{
	background: var(--nav-li-color);
	color: #fff;
}
/*---------------------------
		Top Header  
----------------------------*/
#ticker_container {
  background: #FFFFFF;
  padding: 10px;
  overflow: auto;
}
.top-header{
	border-bottom: 1px solid #999999;
	
}
.top-mail{
	
}
.top-mail p{
    font-weight: 600;
	    color: #999999;
    margin-top: 7px;
}
.top-mail p a{
	   color: #999999;
	transition: .4s all;
}
.top-mail p a:hover{
	color: var(--theme-color);
}
.top-social-icon .top-icon{
	    float: right;
    height: 100%;
}
.top-icon i{
	padding: 12px 0;
}
.top-social-icon .top-icon li:first-child{
	border-left: 1px solid var(--top-border);
	    padding-left: 16px;
}
.top-social-icon .top-icon li{
	      display: inline-block;
    margin-right: 6px;
    position: relative;
    border-right: 1px solid var(--top-border);
    padding-right: 16px;
}
.top-social-icon .top-icon li a{
	font-size: 14px;
	color:var(--top-border);
	transition: .2s all ease;
}
.top-social-icon .top-icon li a:hover{
	color: var(--theme-color)
}
/*----------------------------
		Navber Menu
* ----------------------------*/

#nav-menu-one{
	padding: 15px 0;
}
.header__nav {
    margin: 0 0 0 auto;
   padding: 0;
   font-size: 15px;

}

.header__nav li {
  float: left;
   position: relative;
      padding: 0 20px;
	text-transform: uppercase;
}

.header__nav li.has-children {
   padding-right: 35px;
}

.header__nav li a {
       color: var(--nav-li-color);
    font-size: 14px;
    font-weight: bold;
}

.header__nav li.has-children > a::after {
   border-bottom: 2px solid  var(--nav-li-color);
   border-right: 2px solid  var(--nav-li-color);
   content: '';
   display: block;
   height: 7px;
   width: 7px;
   margin-top: -4px;
   pointer-events: none;
   position: absolute;
   right: 27px;
    top: 13px;
   -webkit-transform-origin: 66% 66%;
   -ms-transform-origin: 66% 66%;
   transform-origin: 66% 66%;
   -webkit-transform: rotate(45deg);
   -ms-transform: rotate(45deg);
   transform: rotate(45deg);
   -webkit-transition: all 0.3s ease-in-out;
   transition: all 0.3s ease-in-out;
}

.header__nav li:hover > a, .header__nav li:focus > a {
   color: var(--theme-color);
}

.header__nav li:hover li, .header__nav li:focus li {
   background: transparent;
}

 #nav-menu-one .active {
   color: #ff9311;
   color:  var(--theme-color);
}

.header__nav li ul {
   position: absolute;
   top: 45px;
   left: 0;
   font-size: 14px;
   margin: 0;
   padding: 1.8rem 0;
   background: #050505;
   border-radius: 0 0 3px 3px;
   z-index: 500;
   -webkit-transform: translate3d(0, 15px, 0);
   -ms-transform: translate3d(0, 15px, 0);
   transform: translate3d(0, 15px, 0);
   -webkit-transition: all 0.5s ease-in-out;
   transition: all 0.5s ease-in-out;
   opacity: 0;
   visibility: hidden;
}
.navbar-brand img{
	    width: 135px;
    height: 43px;
}
.header__nav li ul ul {
   position: absolute;
   top: 0;
   left: 100%;
   left: calc(100% + 1px);
   border-radius: 0 0 3px 3px;
   padding-top: 1.2rem;
}

.header__nav li ul li {
   display: block;
   text-align: left;
   padding: 0;
   margin: 0;
   min-height: 33px;
   width: 100%;
}

.header__nav li ul li a {
   display: block;
   white-space: nowrap;
   padding: 7.5px 3rem 7.5px 2rem;
   font-family: "metropolis-regular", sans-serif;
   line-height: 18px;
   color: #fff;
}

.header__nav li ul li a:hover, .header__nav li ul li a:focus {
   color: var(--theme-color);
}

.header__nav li:hover > ul {
   opacity: 1;
   visibility: visible;
   -webkit-transform: translate3d(0, 0, 0);
   -ms-transform: translate3d(0, 0, 0);
   transform: translate3d(0, 0, 0);
}
.header__nav li.has-children:hover > a::after, .header__nav li.has-children:focus > a::after {
    -webkit-transform: rotate(225deg);
    -ms-transform: rotate(225deg);
    transform: rotate(225deg);
}
#nav-menu-one .nav-item:last-child{
	padding-right: 0;
}
.nav-four li{
	padding: 0 6px;
}
.nav-four .nav-item{
	    padding: 18px 5px;
}
#nav-menu-four{
	background: #fff;
}
.nav-brand-four{
    padding: 0;
    margin: 0;
}
.nav-brand-four img {
    width: 135px;
    height: 36px;
}
.four-nave-icon i{
	    padding: 25px 0;
    font-size: 18px;
}
.nav-four li.has-children > a::after {
    top: 30px;
	    right: 14px;
}
.nav-four li.has-children {
    padding-right: 20px;
}
.nav-four {
    margin: 0 auto 0 auto;
    padding: 0;
    font-size: 15px;
}
/*------------------------
 *  search bar
 * --------------------------*/

#search {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    
    -webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;

    -webkit-transform: translate(0px, -100%) scale(0, 0);
	-moz-transform: translate(0px, -100%) scale(0, 0);
	-o-transform: translate(0px, -100%) scale(0, 0);
	-ms-transform: translate(0px, -100%) scale(0, 0);
	transform: translate(0px, -100%) scale(0, 0);
    opacity: 0;
	z-index: 999;
}

#search.open {
    -webkit-transform: translate(0px, 0px) scale(1, 1);
    -moz-transform: translate(0px, 0px) scale(1, 1);
	-o-transform: translate(0px, 0px) scale(1, 1);
	-ms-transform: translate(0px, 0px) scale(1, 1);
	transform: translate(0px, 0px) scale(1, 1); 
    opacity: 1;
}

#search input[type="search"] {
    position: absolute;
    top: 50%;
    width: 100%;
    color: rgb(255, 255, 255);
    background: rgba(0, 0, 0, 0);
    font-size: 60px;
    font-weight: 300;
    text-align: center;
    border: 0px;
    margin: 0px auto;
    margin-top: -51px;
    padding-left: 30px;
    padding-right: 30px;
    outline: none;
}
#search .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: 61px;
    margin-left: -45px;
}
#search .close {
    position: fixed;
    top: 15px;
    right: 15px;
    color: #fff;
	background-color: var(--theme-color);
	border-color: #357ebd;
	opacity: 1;
	padding: 10px 17px;
	font-size: 27px;
}


/*----------------------------------------
 		Blog-banner start
 * ---------------------------------------*/
.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}
.blog-banner-details{
	  position: relative;
}
.blog-banner-content img{
	display: block;
}
.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #008CBA;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
}
.blog-banner-details {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #0000007a;
  overflow: hidden;
  width: 100%;
  height: 100%;
  transition: .5s ease;
}
.blog-banner-link{
	    position: absolute;
    top: 65%;
    left: 35px;
}
.blog-folder{
	    color: #fff;
    font-size: 14px;
    background: var(--theme-color);
    padding: 8px 10px;
    transition: .4s all;
    text-transform: uppercase;
    font-weight: 600;
}
.blog-folder:hover{
	background: #424242;
	color: #fff;
}
.blog-folder i{
	margin-right: 5px;
}
.blog-banner-link h3 a{
	color: #fff;
	margin-top: 30px;
}
.blog-banner-link h3 a:hover{
	color: var(--theme-color);
}
.blog-banner-author{
	display: flex;
	margin-top: 15px;
}
.blog-banner-author li{
		text-transform: uppercase;
	margin-right:40px;
}
.blog-banner-author li a i{
	color: var(--theme-color);
	margin-right: 6px;
}
.blog-banner-author li a{
	color: #fff;
	font-size: 13px;
}
.blog-banner-author li a:hover{
	color: var(--theme-color);
}
.blog-banner-link h3{
	margin-top: 25px;
}
.blog-banner-content img{
	height: 357px;
}
/* -----------------------------------
            home01-main-content
 * ----------------------------------- */
.blog-home-heading{
	text-transform: uppercase;
    font-weight: 800;
	margin-left: 20px;
	position: relative;
}
.blog-home-heading:after{
	content: "";
    position: absolute;
    background: var(--theme-color);
    height: 16px;
    width: 5px;
    top: 3px;
   left: -20px;
}
.blog-link{
	    position: absolute;
    left: 0;
    bottom: 0;
    color: #fff;
    background:var(--theme-color);
    padding: 10px 24px;
    text-transform: uppercase;
    font-weight: 700;
	transition: .4s all;
}
.blog-link:hover{
	background: var(--nav-li-color);
	color: #fff;
}

.blog-widget-img{
	position: relative;
}
.blog-para{
	font-weight: 500;
    letter-spacing: 0;
}
.blog-widget-details h5 a{
	    color: #000;
    font-weight: bold;
    line-height: 24px;
		transition: .4s all;
}
.blog-widget-details h5 a:hover{
	color: var(--theme-color);
}

.blog-author{
	display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #9999;
    border-top: 1px solid #9999;
    padding: 5px 0;
}

.blog-author a{
	font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
    color: #000;
	transition: .4s all;
}
.blog-author a:hover{
	color: var(--theme-color);
}
.blog-author p a i{
	color: #999999;
    margin-right: 5px;
}
.top-blog-slider-two .owl-nav{
    position: absolute;
    top: -30px;
    right: 0;
    margin: 0px;
}
.top-blog-slider-two .owl-prev i{
	    background: var(--theme-color);
    color: #fff;
    padding: 4px 5px;
	border:1px solid #fff;
}
.top-blog-slider-two .owl-next i{
	    background: var(--theme-color);
    color: #fff;
    padding: 4px 5px;
	border:1px solid #fff;
}
.top-blog-slider-two .owl-prev i:hover, .top-blog-slider-two .owl-next i:hover {
    background: #fff;
    color: var(--theme-color);
	border: 1px solid var(--theme-color);
}
.blog-home-widget-img-inner{
	position: relative;
}
.catagory-blog{
	    background: #2e2e2e;
    padding: 10px 20px;
    color: #fff;
    font-weight: 600;
    position: absolute;
    bottom: 15px;
    left: 15px;
	transition: .4s all;
}
.catagory-blog:hover{
	background: var(--theme-color);
	color: #fff;
}

.blog-title{
	font-weight: 700;
	text-align: center;
}
.blog-title a{
	color: #424242;
	transition: .4s all;
}
.blog-title a:hover{
	color: var(--theme-color);
}
.bog-date{
	text-align: center;
    font-weight: 600;	
	position: relative;
}
.bog-date a{
	color: var(--all-p-color);
    background: #fff;
    padding: 2px 17px;
	transition: .4s all;
}
.bog-date a:hover{
	color: var(--theme-color);
}
.line{
	border-bottom: 1px solid #e3e3e3;
    width: 100%;
    height: 2px;
    position: absolute;
	top: 35px;
}
.blog-home-widget-details{
	position: relative;
}
.bog-date:after{
      content: "\f111";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    position: absolute;
    right: 61%;
    height: 0px;
    top: 0px;
	  font-size: 8px;
	color: #e3e3e3;
}
.bog-date:before{
         content: "\f111";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    position: absolute;
    left: 61%;
    height: 0px;
    top: 0px;
    font-size: 8px;
	color: #e3e3e3;
}
.blog-social-widget ul{
	display: flex;
}
.blog-social-widget ul li{
    border: 1px solid #e3e3e3;
    font-size: 15px;
    text-align: center;
    height: 43px;
    width: 280px;
    line-height: 40px;
	    font-weight: 600;
}
.blog-social-widget ul li a{
	color: #999999;
	transition: .4s all;
}
.blog-social-widget ul li a:hover{
	color: var(--theme-color);
}
.blog-social-widget ul li a i{
	margin-right: 9px;
}
.slider-btn .owl-nav{
	position: absolute;
	width: 100%;
}
.slider-btn .owl-next i{
    padding: 10px 16px;
    border: 3px solid #fff;
    border-radius: 50%;
    color: #fff;
    font-size:28px;
    right: 30px;
    position: absolute;
    bottom: 200px;
		transition: .4s all;

}
.slider-btn .owl-prev i{
	      bottom: 200px;
    left: 30px;
    position: absolute;
        padding: 10px 16px;
    border: 3px solid #fff;
    border-radius: 50%;
    color: #fff;
    font-size:28px;
	transition: .4s all;
}
.slider-btn .owl-next i:hover, .slider-btn .owl-prev i:hover{
	color: var(--theme-color);
	border-color: var(--theme-color);
}
.blog-home-quite {
	    background: #2e303c;
    padding: 55px 65px 50px 60px;
    position: relative;
}
.blog-home-quite p{
	color: #fff;
    font-size: 20px;
    line-height: 28px;
	font-style: italic;
}
.block-icon i{
	    color: #fff;
    position: absolute;
    font-size: 20px;
   left: 50px;
    top: 45px;
}
.quat-deatils h4{
	    font-size: 20px;
    
    text-transform: uppercase;
    font-weight: 500;
	margin-top: 50px;
}
.quat-deatils h4 a{
	color: #fff;
}
.quat-deatils h4 a:hover{
	color: var(--theme-color);
}
.link-deatils a {
	color: #fff;
	display: block;
}
.link-deatils a i{
	border: 1px solid #fff;
    padding: 7px 8px;
    border-radius: 71%;
	font-size: 20px;
}
.link-deatils a i:hover{
	border: 1px solid var(--theme-color);
}
.link-deatils a:hover{
	color: var(--theme-color);
}
.link-text {
	font-size: 20px;
    font-weight: 500;
    font-style: italic;
    margin-top: 20px
}
.link-text h4{
	
}
.author-home{
	  text-transform: uppercase;
    font-weight: 500;
    margin-top: 25px;
	color: var(--theme-color);
}
/* -----------------------------------
              Sidebar-widget
 * ----------------------------------- */
#blog-main-content{
	padding: 100px 0;
    border-bottom: 1px solid #dcdcdc;
}
.widget-search .form-control{
	    width: 100%;
    height: 50px;
    border-radius: 0;
    position: relative;
	padding: 10px 50px 10px 20px;
}
.widget-search i{
	position: absolute;
    right: 20px;
    font-size: 18px;
    color: #000;
}
.sidebar-widget .widget {
    margin-bottom: 30px;
}
.widget-popular-post{
	padding: 25px;
	border:1px solid #dedede;
}

.widget-popular-post h3, .widget-popular-post .widget-title {
           font-size: 18px;
    margin-bottom: 30px;
    font-weight: 600;
    border-bottom: 1px solid #dedede;
    padding-bottom: 20px;
    position: relative;
    text-transform: uppercase;
}
.widget-title:after{
	    content: "";
    position: absolute;
    height: 2px;
    background: var(--theme-color);
    width: 90px;
    top: 39px;
    left: 0;
	
}
.widget-popular-post ul li {
   position: relative;
    padding-left: 90px;
    margin-bottom: 20px;
    padding-bottom: 25px;
    border-bottom:1px solid #dedede;
}
.widget-popular-post ul li:last-child{
	    border: none;
    margin: 0;
    padding-bottom: 0;
}
.widget-popular-post ul li a {
    display: block;
}

.widget-popular-post ul li a {
    color: #424242;
	    font-weight: 600;
}
.widget-popular-post ul li a:hover{
	color: var(--theme-color);
}
.widget-popular-post ul li a img {
    position: absolute;
    left: 0;
    top: 3px;
      width: 66px;
    height: 44px;
}
.widget-popular-post ul li h5 {
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 2px;
}
.widget-popular-post ul li p {
    font-weight: 400;
    font-size: 12px;
    margin: 0;
}
.widget-add{
	border: 1px solid #dedede;
	padding: 60px 0;
	position: relative;
}
.widget-catagories-post{
	padding: 25px;
	border:1px solid #dedede;
}

.widget-catagories-post h3, .widget-catagories-post .widget-title {
           font-size: 18px;
    margin-bottom: 30px;
    font-weight: 600;
    border-bottom: 1px solid #dedede;
    padding-bottom: 20px;
    position: relative;
    text-transform: uppercase;
}
.catagories-item ul li:last-child{
	border: none;
    margin-bottom: 0;
    padding-bottom: 0;
}
.catagories-item ul li a span{
    margin-left: 20px;
}
.catagories-item ul li{
	       font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    margin-top: 15px;
    border-bottom: 1px solid #dedede;
    padding-bottom: 20px;
}
.catagories-item ul li a:hover{
	color: var(--theme-color);
}
.catagories-item ul li a{
	color: #363636;
}

.widget-instagram-post{
	padding: 25px;
	border:1px solid #dedede;
}

.widget-instagram-post h3, .widget-instagram-post .widget-title {
           font-size: 18px;
    margin-bottom: 30px;
    font-weight: 600;
    border-bottom: 1px solid #dedede;
    padding-bottom: 20px;
    position: relative;
    text-transform: uppercase;
}
.instagram-item a img{
	    width: 70px;
    height: 65px;
    margin: 0px 0 6px 4px;
}
.widget-social-post{
	padding: 25px;
	border:1px solid #dedede;
}

.widget-social-post h3, .widget-social-post .widget-title {
           font-size: 18px;
    margin-bottom: 30px;
    font-weight: 600;
    border-bottom: 1px solid #dedede;
    padding-bottom: 20px;
    position: relative;
    text-transform: uppercase;
}
.social-icon-item a i{
	font-size: 16px;
    color: #424242;
    border: 1px solid #dedede;
    height: 35px;
    width: 35px;
    line-height: 35px;
    text-align: center;
	transition: .4s all;
}
.social-icon-item a i:hover{
	background: var(--theme-color);
	color: #fff;
}
.widget-slider-post{
	padding: 25px;
	border:1px solid #dedede;
}

.widget-slider-post h3, .widget-slider-post .widget-title {
           font-size: 18px;
    margin-bottom: 30px;
    font-weight: 600;
    border-bottom: 1px solid #dedede;
    padding-bottom: 20px;
    position: relative;
    text-transform: uppercase;
}
.widget-slider-item .owl-nav{
	position: relative;
	
}
.widget-slider-item .owl-next i{
	position: absolute;
    right:0;
    bottom: 90px;
	  background: var(--theme-color);
    padding: 6px 8px;
    color: #fff;
    font-size: 13px;
}
.widget-slider-item .owl-prev i{
	position: absolute;
    left: 0;
    bottom: 90px;
	  background: var(--theme-color);
    padding: 6px 8px;
    color: #fff;
    font-size: 13px;
}
.widget-slider-item .owl-prev i:hover, .widget-slider-item .owl-next i:hover{
	background: #fff;
	color: var(--theme-color);
}

button{
	outline: none;
	box-shadow: none  !important;
	border: none !important;
}
/* -----------------------------------
                  Footer
 * ----------------------------------- */
footer{
	padding: 55px 0;
}
.footer-title h5{
	text-transform: uppercase;
	font-weight: 700;
	position: relative;
}
.footer-title h5:after{
	    position: absolute;
    content: "";
    height: 2px;
    width: 125px;
    background: var(--theme-color);
    left: 0;
    top: 37px;
}
.footer-title{
	border-bottom:1px solid #dedede;
	padding-bottom:20px;
	margin-bottom: 30px;
}
.tweet-heading{
	text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
}
.tweet-link{
	      color: var(--theme-color);
    font-size: 14px;
    font-weight: 600;
	transition: .2s all;
}
.tweet-link:hover{
	color: #424242;
}
.tweet-details i{
	margin-right: 5px;
}

.tweet-details{
	    border-bottom: 1px solid #dedede;
    padding-bottom: 25px;
}

.footer-subscribe .form-group{
	margin-top: 20px;
}
.footer-subscribe ::-webkit-input-placeholder {
  color: var(--plaeceholder-color);
  font-size: 14px;
}
.footer-subscribe ::-moz-placeholder {
  color: var(--plaeceholder-color);
  font-size: 14px;
}
.footer-subscribe :-ms-input-placeholder {
  color: var(--plaeceholder-color);
  font-size: 14px;
}
.footer-subscribe ::placeholder {
  color:  var(--plaeceholder-color);
  font-size: 14px;
}
.footer-subscribe  .form-control{
	height: 50px;
    border-radius: 0;
    border: 1px solid var(--top-border);
}


/* -----------------------------------
              Suraiya CSS Start
 * ----------------------------------- */
/*Base CSS*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&display=swap');

.default-section-padding{
    padding: 100px 0;
}
.default-paragraph, .about-content-box p{
    font-size: 14px;
    color: #2e303c;
    font-weight: 400;
}
.font-bold,.home-4-category-area h1,.home-4-category-area h2,.home-4-category-area h3,.home-4-category-area h4,.home-4-category-area h5,.home-4-category-area h6{
    font-weight: bold;
}
.font-semi-bold, .home-4-category-area .controls button.filter-one{
    font-weight: 600;
}
.default-title-color, .error-content-wrapper h1, .error-content-wrapper h3, .error-content-wrapper p, .home-4-category-area .home-4-section-title, .home-4-category-area .controls button.filter-one{
    color: #13171f;
}
.default-transition, .default-button, .error-btn, .home-4-category-area .controls button.filter-one{
    transition: all ease-in-out .5s;
    -webkit-transition: all ease-in-out .5s;
}
.default-button, .error-btn{
    background: var(--theme-color);
    color: #fff;
    font-size: 18px;
    padding: 15px 50px;
    text-transform: capitalize;
    font-weight: 600;
}
.default-button:hover, .error-btn:hover{
    background: var(--nav-li-color);
    color: #fff;
}
[class^="flaticon-"]::before, [class*=" flaticon-"]::before, [class^="flaticon-"]::after, [class*=" flaticon-"]::after {
    margin-left: 0;
    font-size: 18px;
}

/* -----------------------------------
              1. Error Page CSS Start
 * ----------------------------------- */

.error-page-area{
	background-color: #f5f6f8;
    padding: 200px 0;
}
.error-content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.error-content-wrapper h1 {
    font-size: 90px;
    font-weight: 800;
}
.error-content-wrapper h1 > span {
    color: var(--theme-color);
}
.error-content-wrapper h3 {
    font-size: 30px;
    font-weight: 800;
    margin: 40px 0;
}
.error-content-wrapper p {
    font-size: 18px;
    width: 70%;
    text-align: center;
    margin-bottom: 63px;
}
/* -----------------------------------
              1. Error Page CSS End
 * ----------------------------------- */

/* -----------------------------------
              2. About Page CSS Start
 * ----------------------------------- */
#about-content-wrapper{
	border-top: 1px solid #dedede;
    padding: 50px 0px 20px 0;
    border-bottom: 1px solid #dedede;
}
.about-page-content-wrap .about-media-box{
    text-align: center;
}
.about-page-content-wrap .title{
    font-size: 24px;
    font-weight:bold;
    color: #2e303c;
    margin: 26px 0;
}
.about-page-content-wrap .subtitle{
    font-size: 14px;
    font-weight:500;
    color: #2e303c;
    position: relative;
}
.about-page-content-wrap .subtitle > span{
    position: relative;
}
.about-page-content-wrap .subtitle::before {
    content: "";
    position: absolute;
    z-index: 9;
    background-color: #e3e3e3;
    height: 1px;
    width: 40%;
    left: 0;
    top: 5px;
}
.about-page-content-wrap .subtitle::after {
    content: "";
    position: absolute;
    z-index: 9;
    background-color: #e3e3e3;
    height: 1px;
    width: 40%;
    right: 0;
    top: 5px;
}
.about-page-content-wrap .subtitle > span::before {
    content: "";
    position: absolute;
    z-index: 9;
    background-color: #e3e3e3;
    border-radius: 50%;
    height: 7px;
    width: 7px;
    left: -35px;
    top: 3px;
}
.about-page-content-wrap .subtitle > span::after {
    content: "";
    position: absolute;
    z-index: 9;
    background-color: #e3e3e3;
    border-radius: 50%;
    height: 7px;
    width: 7px;
    right: -35px;
    top: 3px;
}
.about-page-content-wrap .about-content-box p {
    margin: 30px 0;
}
.about-page-content-wrap .about-me-number-list ul li {
    margin-bottom: 13px;
}

.about-page-content-wrap blockquote p{
    color: #999999;
    font-size: 18px;
    font-style: italic;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    border-left: 3px solid #ff9311;
    padding: 10px 10px 10px 20px;
}
.about-me-social ul li {
    display: inline;
}
.about-me-social ul li a {
    display: inline-block;
    padding: 8px 20px;
    color: #999;
    font-size: 18px;
    transition:  all ease-in-out .5s;
    -webkit-transition:  all ease-in-out .5s;
}
.about-me-social ul li a:hover {
    color: var(--theme-color);
}
.about-me-social ul li a:first-child {
    padding-left: 0;
}

/* -----------------------------------
              2. About Page CSS End
 * ----------------------------------- */
/* -----------------------------------
              3. Home Page 4 CSS Start
 * ----------------------------------- */
.home-4-category-area .home-4-section-title {
    border-bottom: 1px solid #eaeaeb;
    padding-bottom: 16px;
    position: relative;
    display: flex;
    justify-content: space-between;
}
.home-4-category-area .home-4-section-title::after, .home-4-category-area .single-blog-post-sub-title::after{
    content: "";
    position: absolute;
    z-index: 9;
    left: 0;
    bottom: -1px;
    height: 2px;
    width: 15%;
    background-color: #ff9311;
}
#filtering-container .mix {
    display: none;
    margin: 30px 0;
    position: relative;
    width: 100%;
}
.home-4-category-area .controls button.filter-one {
    text-transform: uppercase;
    padding: 5px 8px;
    background-color: transparent;
}
.home-4-category-area .controls button.filter-one.active,.home-4-category-area .controls button.filter-one:hover {
    color: var(--theme-color);
}
.home-4-category-area .card figure span {
    position: absolute;
    left: 0;
    font-size: 14px;
    text-transform: uppercase;
    background: var(--theme-color);
    color: #fff;
    font-weight: 600;
    padding: 15px;
}
.home-4-category-area .card figure span a{
    color: #fff;
}
.home-4-category-area .card figure span i{
    color: #fff;
}
/*Single Blog Post CSS*/
.home-4-category-area .card-title {
    font-size: 30px;
    text-transform: uppercase;
    margin: 46px 0 25px;
    color: var(--theme-color);
}
.home-4-category-area .single-blog-post-sub-title {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
}
.home-4-category-area .single-blog-post-sub-title a {
    color: var(--theme-color);
}
.home-4-category-area .card figure span.blog-tag {
    padding: 8px;
    left: 15px;
    top: 15px;
}
.home-4-category-area .single-blog-post-sub-title span.post-date {
    padding-left: 10px;
}
.home-4-category-area .single-blog-post-sub-title {
    position: relative;
    border-bottom: 1px solid #eaeaeb;
    margin-bottom: 30px;
    padding-bottom: 30px;
}
.home-4-category-area .single-blog-post-sub-title::after {
    left: 43%;
}
.home-4-category-area .home-4-single-blog-post p {
    width: 80%;
    margin: 0 auto;
}
.home-4-category-area .home-4-single-blog-post button {
    background: var(--theme-color);
}
.home-4-category-area .card {
    border-radius: 0;
}
.home-4-category-area .card figure img {
    width: 100%;
}
.home-4-category-area .card-body {
    padding: 0 50px;
}
/* -----------------------------------
              3. Home Page 4 CSS End
 * ----------------------------------- */


/* -----------------------------------
              Suraiya CSS End
 * ----------------------------------- */




